<div class="toc-aside js-toc-root">
    <div class="sidebar-profile">
        <img src="/assets/images/me.png" alt="{{ site.author.name }}" class="sidebar-avatar">
        <h2 class="sidebar-name">{{ site.author.name }}</h2>

        <p class="sidebar-bio">
            {% if site.lang == 'fr' %}
                {{ site.author.bio }}
            {% else %}
                Web developer, lead developer, and software architecture enthusiast.
            {% endif %}
    </div>
    <div class="sidebar-social">
        <ul class="social-icons">
            {% if site.author.medium %}
            <li>
                <a href="{{ site.author.medium }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-medium"></i>
                </a>
            </li>
            {% endif %}
            {% if site.author.linkedin %}
            <li>
                <a href="{{ site.author.linkedin }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
                </a>
            </li>
            {% endif %}
            {% if site.author.github %}
            <li>
                <a href="{{ site.author.github }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
